{{#if controlWrapper}}
    <div {{bind-attr class=controlWrapper}}>
        {{view controlView viewName=controlViewName property=propertyName id=cid}}
        {{#if v_icons}}
            <span class="form-control-feedback"><i {{bind-attr class=v_icon}}></i></span>
        {{/if}}
    </div>
{{else}}
    {{view controlView viewName=controlViewName property=propertyName id=cid}}
    {{#if v_icons}}
        <span class="form-control-feedback"><i {{bind-attr class=v_icon}}></i></span>
    {{/if}}
{{/if}}
