{{#if controlWrapper}}
    <div {{bind-attr class=controlWrapper}}>
        {{#if data-html}}
            {{view controlView viewName=controlViewName property=propertyName id=cid data-html=data-html data-placement=data-placement data-toggle=data-toggle title=title}}
        {{else}}
            {{view controlView viewName=controlViewName property=propertyName id=cid}}
        {{/if}}
    </div>
{{else}}
    {{#if data-html}}
        {{view controlView viewName=controlViewName property=propertyName id=cid data-html=data-html data-placement=data-placement data-toggle=data-toggle title=title}}
    {{else}}
        {{view controlView viewName=controlViewName property=propertyName id=cid}}
    {{/if}}
{{/if}}

